/* Home.css */

.home-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.home-heroSection {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
}

.glassmorphic-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.home-heading {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.tagline {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sample-image {
  width: 200px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.home-featuresSection {
  max-width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-featuresSection h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
