.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
  color: white;
}
.signup-parentBox {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.signup-heading {
  font-size: 30px;
  font-weight: bold;
}
.signup-form {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.signup-input {
  font-size: 16px;
  width: 280px;
  margin-bottom: 10px;
  padding: 10px;
}
.signup-passwordBox {
  display: flex;
  align-items: center;
}
.signup-password-eye {
  font-size: 30px;
  margin-left: -40px;
  color: grey;
  cursor: pointer;
}
.signup-inputLabel {
  font-size: 15px;
}
.signup-button {
  font-size: 20px;
  padding: 10px 30px;
  margin: auto;
  border-radius: 20px;
  background-color: orange;
  color: black;
  font-weight: bold;
  border-color: white;
  cursor: pointer;
  margin: 20px 0px;
}
.signup-bottomText {
  margin: auto;
}
.signup-bottomText > span {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (min-width: 375px) {
  .signup-parentBox {
    padding: 10px 20px;
  }
}
